[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
multitasking = "*"
numpy = "*"
pandas = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
threadpoolctl = "*"
tqdm = "*"
urllib3 = "*"
yfinance = "*"
Cycler = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
